<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NightlyCode.Core" version="0.8.5" targetFramework="net471" />
  <package id="NightlyCode.Database" version="0.7.19" targetFramework="net471" />
  <package id="NightlyCode.Irc" version="0.7.2" targetFramework="net471" />
  <package id="NightlyCode.Japi" version="0.8.5" targetFramework="net471" />
  <package id="NightlyCode.Modules" version="0.8.20" targetFramework="net471" />
  <package id="NightlyCode.Twitch" version="0.5.6" targetFramework="net471" />
</packages>