body{ width: 100%;}

.title {
	width: 100%;
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	-webkit-transition: opacity 1000ms ease-in-out;
    transition: opacity 1000ms ease-in-out;
	text-shadow:
	           3px 3px 0 #000,
	           -1px -1px 0 #000,
	           1px -1px 0 #000,
	           -1px 1px 0 #000,
	           1px 1px 0 #000;

	border-style: solid;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.6);
}

.messages {
	width: 100%;
}

.message {
	width: 100%;
	font-size: 130%;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	-webkit-transition: opacity 1000ms ease-in-out;
    transition: opacity 1000ms ease-in-out;

	text-shadow:
	           3px 3px 0 #000,
	           -1px -1px 0 #000,
	           1px -1px 0 #000,
	           -1px 1px 0 #000,
	           1px 1px 0 #000;

	border-style: solid;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.6);
}

p {
	margin: 0px;
	padding: 0px;
}

.element {
	padding-right: 5px;
}

img.element {
	min-height: 1em;
	max-height: 1em;
	vertical-align: middle;
}